/** @format */

/* Card Container */
.container {
  @apply w-[320px] h-[400px] flex flex-col items-center justify-between bg-white pt-[0.75rem] pb-[1.5rem] px-[0.5rem] border border-[rgba(0,0,0,0.15)] rounded-[1rem];
}

.container:hover {
  transform: scale(1.05);
  transition: 0.8s ease-out;
  /* box-shadow: 0px 4px 35px 0px #a8acb030; */
  box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05),
    0px 0px 1px 0px rgba(12, 26, 75, 0.24);
}

/* Card Image Container */
.image_container {
  @apply w-full h-[200px] md:h-[240px] relative;
}

/* Name */
.title {
  @apply text-black text-[1rem] lg:text-[1.25rem] font-bold  mt-2 px-2 line-clamp-2;
}

/* Card Description Container */
.cardDescriptionContainer {
  @apply text-[0.75rem] md:text-[1rem] text-black mt-1 px-2;
}

/* Description Styles */
.description {
  @apply line-clamp-3;
}

/* Card Link Container */
.cardLinkContainer {
  @apply text-[0.75rem] md:text-[1rem] w-full mt-2 md:mt-4 px-2 flex items-center justify-between;
}

.routePathBtn {
  @apply font-bold border border-[rgba(0,0,0,0.25)] p-2 rounded-[0.3rem];
}

/* Date Styles */
.date {
  @apply italic font-bold text-[rgba(0,0,0,0.35)];
}
