/* Styles for the container goes here */
.container {
  @apply w-full fixed bottom-0 left-0 right-0 h-[80px] lg:h-[60px] sm:px-2 md:px-4 lg:px-[3rem] flex flex-col lg:flex-row items-center justify-between;
  background: linear-gradient(
    109.46deg,
    rgba(200, 200, 200, 0.1) 1.57%,
    rgba(196, 196, 196, 0.1) 100%
  );
  backdrop-filter: blur(10px);
}

/* First column */
.column_one {
  @apply order-2 lg:order-1 pb-4 lg:mb-0 flex text-[0.75rem] lg:text-[1rem] text-black font-[700] items-center justify-center;
}

/* First column */
.column_two {
  @apply order-1 lg:order-2 mb-1 lg:mb-0 flex items-center justify-between text-black text-[1.2rem] lg:text-[2rem] md:w-[40%];
}

/* Footer Icons */
.link {
  @apply hover:text-black hover:bg-white w-[50px] p-2 rounded-[0.5rem] flex items-center justify-center;
}
